<app-blank pageName="Doktorlar Listesi">
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Doktorlar</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>

          </thead>
          <tbody>
            @if (appointmentIntervalsSearchModel.length>0) {
              @for (item of appointmentIntervalsSearchModel; track $index) {
                <tr style="cursor: pointer;" (click)="getPaginatedGroupedIntervalsByDoctorId(item.doctorId)">
                  <td>
                    @if (item.genderId === 1) {
                      <img
                    alt="Avatar"
                    class="table-avatar"
                    [src]="imageUrl.womenAvatar">
                    }
                    @else {
                      <img
                      alt="Avatar"
                      class="table-avatar"
                      [src]="imageUrl.manAvatar">
                    }
                  </td>
                  <td>
                    <a> {{item.doctorName }} </a>
                    <br />
                    <small> {{item.titleName}} </small>
                  </td>
                  <td>
                    <div class="text">
                      <b>En Erken Tarih</b>
                    </div>
                    <div>
                      <span class="badge badge-primary">{{item.intervalDate}}</span>
                    </div>
                    <div>
                      <span class="badge badge-success">{{item.intervalDateMessage}}</span>
                    </div>
                  </td>
                  <td>
                    Hastahane Adı
                  </td>
                  <td>
                    {{item.branchName}}
                  </td>
                </tr>
              }
            }
            @else {
              <div class="alert alert-info">Mevcut veri yok.</div>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-secondary" (click)="onPrevious()">
            <i class="fas fa-arrow-left"></i> Geri Dön
          </button>
        </div>
      </div>
    </div>
  </section>
</app-blank>
