.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-title i {
    margin-right: 10px;
}

.modal-body {
    font-size: 1.1em;
}

.modal-body h6 {
    font-weight: bold;
}

.modal-body p {
    font-size: 1em;
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}