<app-blank pageName="Geri Bildirim">
    <section class="content">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Hastalar</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0" style="display: block">
            <div class="row mb-3 mt-3">
              <div class="col-md-4 col-sm-12 mb-2">
                <select class="form-control">
                  <option value="new">En eski</option>
                  <option value="old">En Yeni</option>
                </select>
              </div>
              <div class="col-md-4 col-sm-12">
                <input type="text" class="form-control" placeholder="Hasta Ara">
              </div>
            </div>
    
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 20%">Hasta Adı</th>
                  <th style="width: 15%">Kimlik No</th>
                  <th style="width: 15%">Son Ziyaret</th>
                  <th style="width: 30%"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#</td>
                  <td>
                    <a> Arif İskilip</a>
                    <br />
                    <small> Cinsiyet </small>
                  </td>
                  <td>
                      <a> 12345678901</a>
                    </td>
                    <td>
                      <a> 01.01.2023</a>
                    </td>
                  <td class="project-actions text-right">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#feedbackDetail">
                      <i class="fas fa-circle-info"> </i>
                      Detay
                    </button>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash"> </i>
                      Sil
                    </a>
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
              <ul class="pagination justify-content-center m-0">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </nav>
          </div>
        </div>
  
          <!-- Add Modal -->
          <div class="modal fade" id="feedbackDetail" tabindex="-1" role="dialog" aria-labelledby="feedbackDetail" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="feedbackDetail"><i class="fas fa-comments"></i> Hasta Geribildirim</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h6><i class="fas fa-user"></i> Hasta Adı:  <span style="font-weight: normal;">arif arif</span></h6>
                        <hr>
                        <h6><i class="fas fa-calendar-alt"></i> Randevu ID: <span style="font-weight: normal;">1</span></h6>
                        <hr>
                        <h6><i class="fas fa-calendar-day"></i> Randevu Tarihi: <span style="font-weight: normal;">1</span></h6>
                        <hr>
                        <h6><i class="fas fa-hospital"></i> Polikinlik: <span style="font-weight: normal;">1</span></h6>
                        <hr>
                        <h6><i class="fas fa-user-md"></i> Doktor: <span style="font-weight: normal;">1</span></h6>
                        <hr>
                        <h6><i class="fas fa-info-circle"></i> Durum: <span style="font-weight: normal;">status</span></h6>
                        <hr>
                        <h6><i class="fas fa-comment-dots"></i> Açıklama:</h6>
                        <p id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Quos nesciunt esse exercitationem dignissimos laborum, quisquam dolorum dolor, 
                            quae aspernatur numquam cupiditate sunt enim recusandae minus voluptatum magni 
                            aut beatae facere.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
              </div>
            </div>
          </div>
      </section>
</app-blank>