<app-blank pageName="Hastalar">
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Hastalar</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0" style="display: block">
          <div class="row mb-3 mt-3">
            <div class="col-md-4 col-sm-12 mb-2">
              <select class="form-control">
                <option value="">Bölüme Göre Filtrele</option>
                <option value="kardiyoloji">Kardiyoloji</option>
                <option value="ortopedi">Ortopedi</option>
                <!-- Diğer bölümler -->
              </select>
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
              <select class="form-control">
                <option value="">Ünvana Göre Filtrele</option>
                <option value="prof">Profesör</option>
                <option value="doc">Doçent</option>
                <!-- Diğer unvanlar -->
              </select>
            </div>
            <div class="col-md-4 col-sm-12">
              <input type="text" class="form-control" placeholder="Doktor Ara">
            </div>
          </div>

          <table class="table table-striped projects">
            <thead>
              <tr>
                <th style="width: 1%">#</th>
                <th style="width: 20%">Hasta Adı</th>
                <th style="width: 15%">Resim</th>
                <th style="width: 15%">Yaş</th>
                <th style="width: 15%">Son Ziyaret</th>
                <th style="width: 8%" class="text-center">Durum</th>
                <th style="width: 30%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#</td>
                <td>
                  <a> Arif İskilip</a>
                  <br />
                  <small> Cinsiyet </small>
                </td>
                <td>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <img alt="Avatar" class="table-avatar" src="https://avatars.githubusercontent.com/u/71379630?v=4" />
                    </li>
                  </ul>
                </td>
                <td>
                    <a> 24</a>
                  </td>
                  <td>
                    <a> 01.01.2023</a>
                  </td>
                <td class="project-state">
                  <span class="badge badge-success">Success</span>
                </td>
                <td class="project-actions text-right">
                  <button type="button" class="btn btn-primary btn-sm" (click)="onButtonClick()">
                    <i class="fas fa-circle-info"> </i>
                    Detay
                  </button>
                  <button type="button" class="btn btn-info btn-sm" (click)="editSchedule(schedules)">
                    <i class="fas fa-pencil-alt"> </i>
                    Düzenle
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" href="#">
                    <i class="fas fa-trash"> </i>
                    Sil
                  </button>
                </td>
              </tr>

            </tbody>
            <button class="btn btn-outline-success m-3" data-toggle="modal" data-target="#addModal">Ekle</button>
          </table>
        </div>
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </nav>
        </div>
      </div>

        <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Marka Ekle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="brandName">Marka</label>
              <input type="text" formControlName="name" class="form-control" id="brandName" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            <button type="button" class="btn btn-primary" id="submitBtn">Ekle</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!-- Patient Edit -->
  <div class="modal fade" id="editScheduleModal" tabindex="-1" role="dialog" aria-labelledby="editScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editScheduleModalLabel">Programı Düzenle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onEditSubmit()">
            <div class="form-group">
              <label for="editDay">Gün</label>
              <input type="date" class="form-control" id="editDay" name="editDay">
            </div>
            <div class="form-group">
              <label for="editStartTime">Başlangıç Saati</label>
              <input type="time" class="form-control" id="editStartTime" name="editStartTime">
            </div>
            <div class="form-group">
              <label for="editEndTime">Bitiş Saati</label>
              <input type="time" class="form-control" id="editEndTime" name="editEndTime">
            </div>
            <div class="form-group">
              <label for="editPatientInterval">Hasta Aralığı (Dakika)</label>
              <input type="number" class="form-control" id="editPatientInterval" name="editPatientInterval">
            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    </section>
  </app-blank>
