<app-blank pageName="Hastalar">
  <section class="content">
    <div class="card">
      <!-- <div class="card-header">
        <h3 class="card-title">Hastalar</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div> -->


      <div class="card-body p-0" style="display: block">
        <div class="row mb-3 mt-3">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchText" placeholder="Hasta Ara" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-success" (click)="searchPatient()">
                <i class="fas fa-search" style="margin-right: 8px;"></i>
                Ara
              </button>
            </div>
          </div>
        </div>

        <table class="table table-striped projects">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th style="width: 20%">Hasta Adı</th>
              <th style="width: 15%">Fotoğraf</th>
              <th style="width: 15%">Yaş</th>
              <th style="width: 15%">Telefon Numarası</th>
              <th style="width: 8%" class="text-center">Durum</th>
              <th style="width: 30%"></th>
            </tr>
          </thead>
          <tbody>
            @if(patients?.items.length > 0) {
            @for (item of patients?.items; track $index) {
            <tr>
              <td>#</td>
              <td>
                <a> {{item.firstName + ' ' + item.lastName}}</a>
                <br />
                <small> {{item.genderName}} </small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <div class="col-4 text-center">
                    @if(item.imageUrl){
                      <img [src]="getImage.getImage(item.imageUrl)" alt="user-avatar" class="img-circle img-fluid" />
                    }
                    @else {
                      @if(item.genderId==1){
                        <img [src]="getImage.getWomenAvatar()" alt="user-avatar" class="img-circle img-fluid" />

                      }
                      @else {
                        <img [src]="getImage.getManAvatar()" alt="user-avatar" class="img-circle img-fluid" />
                      }
                    }
                  </div>
                  </li>
                </ul>
              </td>
              <td>
                <a> {{calculateAge(item.birthDate.toString())}}</a>
              </td>
              <td>
                <a>{{item.phoneNumber}}</a>
              </td>
              <td class="project-state">
                <span class="badge" [ngClass]="!item.isDeleted ? 'badge-success' : 'badge-danger'">{{ !item.isDeleted ?
                  'Aktif' : 'Pasif' }}</span>
              </td>
              <td class="project-actions text-right">

                <button type="button" class="btn btn-primary btn-sm" [routerLink]="'/admin/patient-details/' + item.id">
                  <i class="fas fa-circle-info"> </i>
                  Detay
                </button>
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateModalLabel"
                  (click)="getPatientDetail(item.id)">
                  <i class="fas fa-pencil-alt"> </i>
                  Düzenle
                </button>

                @if(!item.isDeleted) {
                <button class="btn btn-danger btn-sm" style="width: 86px" (click)="confirmDelete(item)">
                  <i class="fas fa-trash me-2"></i>
                  Sil
                </button>
                }
                @else {
                <button class="btn btn-info btn-sm" (click)="confirmActivate(item)">
                  <i class="fas fa-plus me-2"></i>
                  Aktif Et
                </button>
                }
              </td>
            </tr>
            }
            }
            @else {
              <tr>
                <td colspan="7">
                  <div class="alert alert-warning m-0">Mevcut hasta bulunmamaktadır.</div>
                </td>
              </tr>
            }
          </tbody>
          <button class="btn btn-success" data-toggle="modal" data-target="#registerDoctorModal">Hasta Ekle</button>
        </table>




      </div>
      <div class="card-footer">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" (click)="goToFirstPage()">İlk</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="prevPage()">Önceki</a>
            </li>
            <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
              <a class="page-link" (click)="goToPage(pageNumber)" [ngClass]="{'active' : pageNumber===pageIndex}">{{ pageNumber }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage()">Sonraki</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="goToLastPage()">Son</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="updateModalLabel" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form class="form-horizontal" [formGroup]="patientEditForm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Hasta Düzenle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">Ad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" placeholder="İsim" formControlName="firstName"
                    [appValid]="firstName.valid" />
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                    <div *ngIf="firstName.errors?.required">{{ validationMessages.patientEdit.firstName.required }}
                    </div>
                    <div *ngIf="firstName.errors?.minlength">{{ validationMessages.patientEdit.firstName.minlength }}
                    </div>
                    <div *ngIf="firstName.errors?.maxlength">{{ validationMessages.patientEdit.firstName.maxlength }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Soyad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" placeholder="Soyisim" formControlName="lastName"
                    [appValid]="lastName.valid" />
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
                    <div *ngIf="lastName.errors?.required">{{ validationMessages.patientEdit.lastName.required }}</div>
                    <div *ngIf="lastName.errors?.minlength">{{ validationMessages.patientEdit.lastName.minlength }}
                    </div>
                    <div *ngIf="lastName.errors?.maxlength">{{ validationMessages.patientEdit.lastName.maxlength }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="bloodType" class="col-sm-2 col-form-label">Kan Grubu</label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="bloodTypeId" [appValid]="bloodType.valid">
                    <option value="1">A+</option>
                    <option value="2">A-</option>
                    <option value="3">B+</option>
                    <option value="4">B-</option>
                    <option value="5">AB+</option>
                    <option value="6">AB-</option>
                    <option value="7">O+</option>
                    <option value="8">O-</option>
                  </select>
                  <div *ngIf="bloodType.invalid && (bloodType.dirty || bloodType.touched)" class="invalid-feedback">
                    <div *ngIf="bloodType.errors?.required">{{ validationMessages.register.bloodType.required }}</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Telefon Numarası</label>
                <div class="col-sm-10">
                  <input type="tel" class="form-control" id="phone" placeholder="Telefon" formControlName="phoneNumber"
                    [appValid]="phoneNumber.valid" />
                  <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                    class="invalid-feedback">
                    <div *ngIf="phoneNumber.errors?.required">{{ validationMessages.patientEdit.phoneNumber.required }}
                    </div>
                    <div *ngIf="phoneNumber.errors?.phoneNumber">{{
                      validationMessages.patientEdit.phoneNumber.checkPhone }}</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="birthday" class="col-sm-2 col-form-label">Doğum Tarihi</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="birthday" placeholder="Doğum Tarihi"
                    formControlName="birthDate" [appValid]="birthDate.valid" />
                  <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
                    <div *ngIf="birthDate.errors?.required">{{ validationMessages.register.birthDate.required }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-sm-6 text-left">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                  (click)="update()">Güncelle</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /Update Modal -->

    <!-- Register Modal -->
 <div class="modal fade" tabindex="-1" role="dialog" id="registerDoctorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Doktor Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="Ad"
              [appValid]="firstName.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
              <div *ngIf="firstName.errors?.['required']">
                {{ validationMessages.register.firstName.required }}
              </div>
              <div *ngIf="firstName.errors?.minlength">
                {{ validationMessages.register.firstName.minlength }}
              </div>
              <div *ngIf="firstName.errors?.maxlength">
                {{ validationMessages.register.firstName.maxlength }}
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Soyad"
              [appValid]="lastName.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
              <div *ngIf="lastName.errors?.required">
                {{ validationMessages.register.lastName.required }}
              </div>
              <div *ngIf="lastName.errors?.minlength">
                {{ validationMessages.register.lastName.minlength }}
              </div>
              <div *ngIf="lastName.errors?.maxlength">
                {{ validationMessages.register.lastName.maxlength }}
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              [appValid]="email.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
              <div *ngIf="email.errors?.required">
                {{ validationMessages.register.email.required }}
              </div>
              <div *ngIf="email.errors?.email">
                {{ validationMessages.register.email.email }}
              </div>
              <div *ngIf="email.errors?.minlength">
                {{ validationMessages.register.email.minlength }}
              </div>
              <div *ngIf="email.errors?.maxlength">
                {{ validationMessages.register.email.maxlength }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="phoneNumber"
              placeholder="Telefon Numarası"
              [appValid]="phoneNumber.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="invalid-feedback">
              <div *ngIf="phoneNumber.errors?.required">
                {{ validationMessages.register.phoneNumber.required }}
              </div>
              <div *ngIf="phoneNumber.errors?.phoneNumber">
                {{ validationMessages.register.phoneNumber.checkPhone }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="identityNumber"
              placeholder="Kimlik Numarası"
              [appValid]="identityNumber.valid"
              maxlength="11"
              minlength="11"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
            <div *ngIf="identityNumber.invalid && (identityNumber.dirty || identityNumber.touched)" class="invalid-feedback">
              <div *ngIf="identityNumber.errors.required">Kimlik numarası zorunlu.</div>
              <div *ngIf="identityNumber.errors.minlength || identityNumber.errors.maxlength">Kimlik numarası 11 haneli olmalıdır.</div>
              <div *ngIf="identityNumber.errors.identityNumber">{{ identityNumber.errors.identityNumber.message }}</div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Şifre"
              [appValid]="password.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors?.required">
                {{ validationMessages.register.password.required }}
              </div>
              <div *ngIf="password.errors?.minlength">
                {{ validationMessages.register.password.minlength }}
              </div>
              <div *ngIf="password.errors?.maxlength">
                {{ validationMessages.register.password.maxlength }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="form-control" formControlName="genderId"    [appValid]="gender.valid">
              <option value="">Cinsiyet</option>
              <option value="1">Kadın</option>
              <option value="2">Erkek</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-venus-mars"></span>
              </div>
            </div>
            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-feedback">
              <div *ngIf="gender.errors?.required">
                {{ validationMessages.register.gender.required }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" type="date" formControlName="birthDate" placeholder="Doğum tarihi" [appValid]="birthDate.valid">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar-days"></span>
              </div>
            </div>
            <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
              <div *ngIf="birthDate.errors?.required">
                {{ validationMessages.register.birthDate.required }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3" aria-placeholder="Kan Grubu">
            <select id="bloodTypeId" formControlName="bloodTypeId" class="form-control" [appValid]="bloodType.valid">
              <option value="1">A+</option>
              <option value="2">A-</option>
              <option value="3">B+</option>
              <option value="4">B-</option>
              <option value="5">AB+</option>
              <option value="6">AB-</option>
              <option value="7">O+</option>
              <option value="8">O-</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-id-badge"></span>
              </div>
            </div>
            <div *ngIf="bloodType.invalid && (bloodType.dirty || bloodType.touched)" class="invalid-feedback">
              <div *ngIf="bloodType.errors?.required">
                Ünvan alanı zorunludur.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="patientRegister()" [disabled]="!registerForm.valid" data-dismiss="modal">Ekle</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Register Modal -->
  </section>
</app-blank>
<!-- <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                  (click)="update()">Güncelle</button> -->