<app-blank pageName="Dashboard">
  <section class="content">

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-3 col-6">
          <!-- kutu1 -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{adminDashboardModel?.totalBranches}}</h3>
              <p>Toplam Poliklinkler</p>
            </div>
            <div class="icon">
                <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-6">
          <!-- kutu2 -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{adminDashboardModel?.totalDoctores}}</h3>
              <p>Toplam Doktorlar</p>
            </div>
            <div class="icon">
                <i class="fas fa-thumbs-up"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-6">
          <!-- kutu3 -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{adminDashboardModel?.totalPatients}}</h3>
              <p>Toplam Hastalar</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-6">
          <!-- kutu4 -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{adminDashboardModel?.totalAppointments}}</h3>
              <p>Toplam Randevular</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-alt"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->

      </div>
      
      <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">Poliklinikler</h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>Poliklinik Adı</th>
                        <th>Toplam Randevu Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointmentCounts">
                        <td>{{appointment.branchName}}</td>
                        <td>{{appointment.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>         
      

    </div>

  </section>
</app-blank>