.form-group label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .btn-secondary {
    background-color: #dc3545; /* Kırmızı */
    border-color: #dc3545;
  }
  
  .form-control {
    font-size: 16px;
  }