<div *ngIf="currentPage === 'search'">
    <app-search-appointment></app-search-appointment>
    <button (click)="navigate('list')">Sonraki</button>
  </div>
  
  <div *ngIf="currentPage === 'list'">
    <app-appointment-list></app-appointment-list>
    <button (click)="navigate('search')">Önceki</button>
    <button (click)="navigate('times')">Sonraki</button>
  </div>
  
  <div *ngIf="currentPage === 'times'">
    <app-appointment-times></app-appointment-times>
    <button (click)="navigate('list')">Önceki</button>
    <button (click)="navigate('confirmation')">Sonraki</button>
  </div>
