<app-blank pageName="Profil">
  <section class="content">
    <!-- Add Image Modl -->    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-right">
                <button
                  class="btn btn-sm btn-primary position-absolute"
                  style="top: 10px; right: 10px"
                  data-toggle="modal"
                  data-target="#editImageModal"
                >
                  <i class="fas fa-edit"></i>
                </button>
              </div>
              <div class="text-center">
                <img
                  class="profile-user-img img-fluid img-circle"
                  src="https://avatars.githubusercontent.com/u/71379630?v=4"
                  alt="User profile picture"
                />
              </div>

              <h3 class="profile-username text-center">
                {{ patient.firstName + " " + patient.lastName }}
              </h3>

              <p class="text-muted text-center">
                <b>TC NO:</b> {{ patient.identityNumber }}
              </p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Cinsiyet</b>
                  <a class="float-right">
                    @if (patient.genderId===1) { Kadın } @else { Erkek }
                  </a>
                </li>
                <li class="list-group-item">
                  <b>Kan Grubu</b>
                  <a class="float-right">{{ patient.bloodTypeName }}</a>
                </li>
                <li class="list-group-item">
                  <b>Doğum Yılı</b>
                  <a class="float-right">{{
                    patient.birthDate | date : "dd/MM/yyyy"
                  }}</a>
                </li>
                <li class="list-group-item">
                  <b>Yaş</b>
                  <a class="float-right">{{
                    getCurrentAge(patient.birthDate)
                  }}</a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">İletişi Bilgilerim</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> E Posta</strong>

              <p class="text-muted">{{ patient.email }}</p>

              <hr />

              <strong
                ><i class="fas fa-map-marker-alt mr-1"></i> Telefon</strong
              >

              <p class="text-muted">{{ patient.phoneNumber }}</p>

              <hr />
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    [class.active]="activeTab === 'activity'"
                    (click)="setActiveTab('activity')"
                    href="javascript:void(0)"
                    >Geri Bildirimlerim</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'timeline'"
                    (click)="setActiveTab('timeline')"
                    href="javascript:void(0)"
                    >Randevu Geçmişim</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'settings'"
                    (click)="setActiveTab('settings')"
                    href="javascript:void(0)"
                    >Profil Düzenle</a
                  >
                </li>
              </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div
                  class="active tab-pane"
                  [class.active]="activeTab === 'activity'"
                  id="activity"
                >
                  <!-- Post -->
                  <div class="post">
                    <div class="user-block">
                      <img
                        class="img-circle img-bordered-sm"
                        src="https://avatars.githubusercontent.com/u/71379630?v=4"
                        alt="user image"
                      />
                      <span class="username">
                        <a href="#">Jonathan Burke Jr.</a>
                      </span>
                      <span class="description"
                        >Shared publicly - 7:30 PM today</span
                      >
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for
                      designers, typographers and the like. Some people hate it
                      and argue for its demise, but others ignore the hate as
                      they create awesome tools to help create filler text for
                      everyone from bacon lovers to Charlie Sheen fans.
                    </p>
                  </div>
                  <!-- /.post -->
                </div>
                <!-- /.tab-pane -->
                <div
                  class="tab-pane"
                  [class.active]="activeTab === 'timeline'"
                  id="timeline"
                >
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    <div class="time-label">
                      <span class="bg-danger"> 15 Haz. 2024 </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-calendar-alt bg-primary"></i>
                      <div class="timeline-item">
                        <span class="time"
                          ><i class="far fa-clock"></i> 09:00</span
                        >
                        <h3 class="timeline-header">
                          <a href="#">Dr. Ahmet Yılmaz</a> ile randevunuz
                        </h3>
                        <div class="timeline-body">Detaylar: Genel kontrol</div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-primary btn-sm"
                            >Daha fazla</a
                          >
                          <a href="#" class="btn btn-danger btn-sm">Sil</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-calendar-alt bg-info"></i>
                      <div class="timeline-item">
                        <span class="time"
                          ><i class="far fa-clock"></i> 10:30</span
                        >
                        <h3 class="timeline-header">
                          <a href="#">Dr. Elif Kaya</a> ile randevunuz
                        </h3>
                        <div class="timeline-body">Detaylar: Diş muayenesi</div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-primary btn-sm"
                            >Daha fazla</a
                          >
                          <a href="#" class="btn btn-danger btn-sm">Sil</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline time label -->
                    <div class="time-label">
                      <span class="bg-success"> 10 Haz. 2024 </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-calendar-alt bg-purple"></i>
                      <div class="timeline-item">
                        <span class="time"
                          ><i class="far fa-clock"></i> 11:00</span
                        >
                        <h3 class="timeline-header">
                          <a href="#">Dr. Mehmet Demir</a> ile randevunuz
                        </h3>
                        <div class="timeline-body">
                          Detaylar: Kan testi sonuçları
                        </div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-primary btn-sm"
                            >Daha fazla</a
                          >
                          <a href="#" class="btn btn-danger btn-sm">Sil</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <div>
                      <i class="far fa-clock bg-gray"></i>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->

                <div
                  class="tab-pane"
                  [class.active]="activeTab === 'settings'"
                  id="settings"
                >
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label for="firstName" class="col-sm-2 col-form-label"
                        >Ad</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="firstName"
                          placeholder="İsim"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lastName" class="col-sm-2 col-form-label"
                        >Soyad</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="lastName"
                          placeholder="Soyisim"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="bloodType" class="col-sm-2 col-form-label"
                        >Kan Grubu</label
                      >
                      <div class="col-sm-10">
                        <select class="form-control">
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="phone" class="col-sm-2 col-form-label"
                        >Telefon Numarası</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          placeholder="Telefon"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="birthday" class="col-sm-2 col-form-label"
                        >Doğum Tarihi</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="date"
                          class="form-control"
                          id="birthday"
                          placeholder="Doğum Tarihi"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 text-left">
                        <button type="submit" class="btn btn-success">
                          Güncelle
                        </button>
                      </div>
                      <div class="col-sm-6 text-right">
                        <button
                          type="button"
                          class="btn btn-warning"
                          data-toggle="modal"
                          data-target="#passwordResetModal"
                        >
                          Şifre Yenile
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- The Modal -->
    <div class="modal fade" id="passwordResetModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Şifre Yenile</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
            <form>
              <div class="form-group input-container">
                <i class="fas fa-lock icon"></i>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  placeholder="Eski Şifre"
                  required
                />
              </div>
              <div class="form-group input-container">
                <i class="fas fa-key icon"></i>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  placeholder="Yeni Şifre"
                  required
                />
              </div>
              <div class="form-group input-container">
                <i class="fas fa-key icon"></i>
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  placeholder="Yeni Şifre Tekrar"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Şifreyi Yenile
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-blank>
