.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-container input {
    padding-left: 40px;
}

.modal-header {
    background-color: #007BFF;
    color: white;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.modal-lg {
    max-width: 80%;
  }
  
  .current-image img,
  .new-image img {
    max-height: 300px;
    margin: 0 auto;
    display: block;
  }
  
  .modal-header,
  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  