<div class="container-fluid">
  <div class="row">
    <!-- Top Statistics Cards -->
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{doctorDashboardModel?.totalAppointment}}</h3>
          <p>Toplam Randevum</p>
        </div>
        <div class="icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3> <h3>{{doctorDashboardModel?.completedAppointment}}</h3></h3>
          <p>Tamamlanan Randevularım</p>
        </div>
        <div class="icon">
          <i class="fas fa-thumbs-up"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3> <h3>{{doctorDashboardModel?.waitinAppointment}}</h3></h3>
          <p>Bekleyen Randevularım</p>
        </div>
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3> <h3>{{doctorDashboardModel?.canceledAppointment}}</h3></h3>
          <p>İptal Edilen Randevularım</p>
        </div>
        <div class="icon">
          <i class="fas fa-file-alt"></i>
        </div>
      </div>
    </div>
  </div>
    <!-- /.row -->
   <!-- Appointment History Chart -->
   <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Randevu Geçmişim</h3>
        </div>
        <div class="card-body">
          <canvas id="appointmentHistoryChart" style="height: 250px; width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><i class="fas fa-calendar-alt mr-1"></i> Son Randevular</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            @if(doctorAppointments && doctorAppointments.length){
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Randevu ID</th>
                    <th>Hasta Adı</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of doctorAppointments; track $index) {
                    <tr>
                      <td>{{item.id}}</td>
                      <td>{{item.patientName}}</td>
                      <td>{{item.intervalDate |date:'dd MMMM yyyy - HH:mm'}}</td>
                      <td><span [className]="getBadgeStatusIcon(item.appointmentStatusName).css">
                        {{getBadgeStatusIcon(item.appointmentStatusName).value}}
                      </span></td>
                    </tr>
                  }
                </tbody>
              </table>
            }
            @else {
                <div class="alert alert-warning">Mevcut güne ait randevu bulunmamaktadır.</div>
            }
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-gradient-success">
          <div class="card-header border-0">
            <h3 class="card-title"><i class="far fa-calendar-alt"></i> Takvim</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body pt-0">
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  