<app-blank pageName="Dashboard">
     <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Top Statistics Cards -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{patientDashboardModel?.totalAppointment}}</h3>
              <p>Toplam Randevum</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3> <h3>{{patientDashboardModel?.completedAppointment}}</h3></h3>
              <p>Tamamlanan Randevularım</p>
            </div>
            <div class="icon">
              <i class="fas fa-thumbs-up"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3> <h3>{{patientDashboardModel?.waitinAppointment}}</h3></h3>
              <p>Bekleyen Randevularım</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3> <h3>{{patientDashboardModel?.canceledAppointment}}</h3></h3>
              <p>İptal Edilen Randevularım</p>
            </div>
            <div class="icon">
              <i class="fas fa-file-alt"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Appointment History Chart -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Randevu Geçmişim</h3>
            </div>
            <div class="card-body">
              <canvas id="appointmentHistoryChart" style="height: 250px; width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Profile Summary -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Yaklaşan Randevum</h3>
            </div>
            @if (patientAppointment) {
              <div class="card-body">
                <p>Doktor: {{patientAppointment?.doctorName}}</p>
                <p>Bölüm: {{patientAppointment?.branchName}}</p>
                <p>Tarih: {{patientAppointment?.intervalDate | date : "dd MMMM yyyy HH:mm"}}</p>
                <button (click)="canceledAppointment(patientAppointment.appointmentId)" class="btn btn-danger">
                  <i class="fa fa-times"></i>
                  İptal Et
                </button>
              </div>
            }
            @else {
              <div class="card-body">
                <div class="alert alert-info">Randevunuz bulunmamaktadır.</div>
              </div>
            }
          </div>
        </div>
      </div>

    </div>
  </div>
</app-blank>