<app-blank pageName="Branşlar">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Branş Tablosu</h3>
            </div>

            <div class="card-body">
              <table *ngIf="dataLoaded == true"  class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Branş Adı</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Durum</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let branch of items">
                    <td>{{ branch.id }}</td>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.createdDate }}</td>
                    <td>{{ branch.updatedDate }}</td>
                    <td>
                      <span
                        [ngClass]="[
                          'badge',
                          branch.isDeleted ? 'badge-success' : 'badge-danger'
                        ]"
                      >
                        {{ branch.isDeleted ? "Aktif" : "Pasif" }}
                      </span>
                    </td>
                    <td class="project-actions text-right">
                      <a
                      class="btn btn-info btn-sm"
                      (click)="onSelect(branch)"
                      data-toggle="modal"
                      data-target="#addBranchModal"
                    >
                      <i class="fas fa-pencil-alt"> </i>
                        Güncelle
                      </a>
                      <a
                        class="btn btn-danger btn-sm"
                        (click)="deleteItem(branch.id)"
                      >
                        <i class="fas fa-trash"> </i>
                        Sil
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button
                class="btn btn-outline-success mt-3"
                (click)="onSelectAdd()"
                data-toggle="modal"
                data-target="#addBranchModal"
              >
                Ekle
              </button>
            </div>
            <div class="card-footer clearfix">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" (click)="goToFirstPage()">İlk</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="prevPage()">Önceki</a>
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let pageNumber of getPageNumbers()"
                  >
                    <a
                      class="page-link"
                      (click)="goToPage(pageNumber)"
                      [ngClass]="{ active: pageNumber === pageIndex }"
                      >{{ pageNumber }}</a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="nextPage()">Sonraki</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="goToLastPage()">Son</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-blank>

<!-- Branş Ekleme Modal -->
<div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog" aria-labelledby="addBranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" id="myModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBranchModalLabel">
          @if(isUpdateForm) { Branş Güncelle } @else { Yeni Branş Ekle }
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="isUpdateForm ? updateBranchForm : branchForm" (ngSubmit)="add()">
          <div class="row">
            <div class="col-12">
              <input type="text" class="form-control w-100" placeholder="Branş Adı" id="myInput" [appValid]="name?.valid" formControlName="name" />
              @if (name.touched && name.errors) {
              <div *ngIf="name.invalid" class="text-danger">
                <div *ngIf="name.errors?.['required']">
                  ** {{ validationMessages.branch.name.required }}
                </div>
              </div>
              <div *ngIf="name.invalid" class="text-danger">
                <div *ngIf="name.errors?.['minlength']">
                  {{ validationMessages.branch.name.minLength }}
                </div>
              </div>
              <div *ngIf="name.invalid" class="text-danger">
                <div *ngIf="name.errors?.['maxlength']">
                  {{ validationMessages.branch.name.maxLength }}
                </div>
              </div>
              }
            </div>
          </div>
          <div class="input-group mt-3 col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="isDeleted" />
              <label class="form-check-label"> Branş aktif mi? </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeButton class="btn btn-secondary" data-dismiss="modal" (click)="Close()">
          Kapat
        </button>
        @if(isUpdateForm) {
        <button type="submit" class="btn btn-primary" (click)="update()">
          Güncelle
        </button>
        } @else {
        <button type="submit" class="btn btn-primary" (click)="add()">
          Kaydet
        </button>
        }
      </div>
    </div>
  </div>
</div>

