<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-dark">
      <div class="card-header text-center">
        <a class="h1"><b>MHRS </b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Kayıt olmak için bilgilerinizi doldurun</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Ad" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Soyad" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Şifre" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Şifreyi Yeniden Girin" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="form-control">
            <option value="">Kan Grubu</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-tint"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="form-control">
            <option value="">Cinsiyet</option>
            <option value="male">Erkek</option>
            <option value="female">Kadın</option>
            <option value="other">Diğer</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-venus-mars"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">
              Kayıt Ol
            </button>
          </div>
        </div>
        <div class="social-auth-links text-center mb-3">
          <p>- Yada -</p>
        </div>
        <p class="mb-1">
          <a routerLink="/login">Zaten bir hesabım var.</a>
        </p>
      </div>
    </div>
  </div>
</body>
