<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-dark">
      <div class="card-header text-center">
        <a class="h1"><b>TOBETO </b></a>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <p class="login-box-msg">Giriş yapmak için bilgilerinizi doldurun</p>

          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              [appValid]="email?.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div *ngIf="email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors?.['email']">
                {{ validationMessages.login.email.email }}
              </div>
            </div>
            <div *ngIf="email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors?.['required']">
                {{ validationMessages.login.email.required }}
              </div>
            </div>
            <div *ngIf="email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors?.['minlength']">
                {{ validationMessages.login.email.minLength }}
              </div>
            </div>
            <div *ngIf="email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors?.['maxlength']">
                {{ validationMessages.login.email.maxLength }}
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              [appValid]="password?.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors?.['required']">
                {{ validationMessages.login.password.required }}
              </div>
            </div>
            <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors?.['minlength']">
                {{ validationMessages.login.password.minLength }}
              </div>
            </div>
            <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors?.['maxlength']">
                {{ validationMessages.login.password.maxLength }}
              </div>
            </div>
          </div>

          <button class="btn btn-dark btn-block" (click)="signIn()">
            <i class="fa-solid fa-lock me-1"></i>
            Giriş Yap
          </button>
          <div class="social-auth-links text-center mb-3">
            <p>- Yada -</p>
          </div>
          <p class="mb-1">
            <a href="#" data-toggle="modal" data-target="#forgotPasswordModal"
              >Şifremi Unuttum</a
            >
          </p>
          <p class="mb-0">
            <a routerLink="/register" class="text-center">Kayıt ol</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <!-- Şifremi Unuttum Modal -->
  <div
    class="modal fade"
    id="forgotPasswordModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="forgotPasswordModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordModalLabel">
            <i class="fas fa-key"></i> Şifremi Unuttum
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <ng-container *ngIf="!verificationCodePage">
          <form [formGroup]="forgotPassworForm">
            <p>
              Lütfen email adresinizi girin. Şifrenizi sıfırlamak için bir
              bağlantı göndereceğiz.
            </p>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" formControlName="email" [appValid]="forgotPasswordEmail?.valid"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div *ngIf="forgotPasswordEmail.invalid" class="invalid-feedback">
                <div *ngIf="forgotPasswordEmail.errors?.['email']">
                  {{ validationMessages.forgotPassword.email.email }}
                </div>
              </div>
              <div *ngIf="forgotPasswordEmail.invalid" class="invalid-feedback">
                <div *ngIf="forgotPasswordEmail.errors?.['required']">
                  {{ validationMessages.forgotPassword.email.required }}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Kapat
              </button>
              <button type="button" class="btn btn-primary" (click)="sendVerificationCode()">Gönder</button>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="verificationCodePage">
          <form [formGroup]="verificaionCodeForm">
            <p>
              Lütfen email adresinize gelen doğrulama kodunu giriniz.
            </p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Doğrulama kodu" formControlName="code" [appValid]="VerificationCode?.valid"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div *ngIf="VerificationCode.invalid" class="invalid-feedback">
                <div *ngIf="VerificationCode.errors?.['required']">
                  Lütfen doğrulama kodunu giriniz.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="change()" data-dismiss="modal">
                İptal
              </button>
              <button type="button" class="btn btn-primary" (click)="verifyCode()">Onayla</button>
            </div>
          </form>
        </ng-container>
        </div>
      </div>
    </div>
  </div>
</body>
