<section class="content">
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <tbody>
          <tr>
            <td><img alt="Avatar" class="table-avatar" [src]= "imgUrl"></td>
            <td>
              <a> {{doctor}} </a>
              <br />
              <small>{{title}} </small>
            </td>
            <td>
              <div class="badge badge-primary">
                <b>{{date}}</b>
              </div>
            </td>
            <td>
              {{branch}}
            </td>
            <td>
              {{status}}
            </td>
            <td>
              <button type="button" *ngIf="!isCancelled" (click)="buttonCancel ? cancelAppointment() : onButtonClick()">
                {{buttonLabel || buttonCancel}}</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>